@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
.positioned-image {
    position: absolute;
    left: 26px;
    top: 36px;
    width: 186.89px;
    height: 108.18px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s forwards;
    animation-delay: 0.1s;
}
body {
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 400;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, #d997ff, #9457b8);
    color: white;
    background-size: 200% 200%;
    animation: animateRadial 5s ease-in-out infinite alternate;
}
header {
    height: 83px;
    display: flex;
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Espessura da linha */
    text-underline-offset: 6px;
}
.header-menu {
    display: flex;
    justify-content: center;
    margin: 60px auto 2px auto;
    bottom: 0;
    gap: 110px;
}
.header-menu a {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s forwards;
}

.header-menu a:nth-child(1) {
    animation-delay: 0.2s;
}
.header-menu a:nth-child(2) {
    animation-delay: 0.4s;
}
.header-menu a:nth-child(3) {
    animation-delay: 0.6s;
}
.header-menu a:nth-child(4) {
    animation-delay: 0.8s;
}

.div-text {
    position: absolute;
    top: 268px;
    right: 1104px;
    bottom: 65px;
    left: 181px;
    height: 635px;
    width: 747px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 8px black;
}
.main-img {
    position: absolute;
    top: 80px;
    right: 65px;
    bottom: 105px;
    left: 960px;
    height: 895px;
    width: 895px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s forwards;
    animation-delay: 0.8s;
}

h1 {
    font-size: 66px;
    margin-bottom: 93px;
    margin-right: 150px;
}
h2 {
    margin-right: 150px;
    margin-bottom: 70px;
    font-size: 44px;
}
p {
    text-align: justify;
    font-size: 30px;
    margin-right: 150px;
}
@keyframes animateRadial {
    0% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 40% 60%;
    }
    100% {
        background-position: 60% 40%;
    }
}
.div-text > * {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s forwards;
}

.div-text h1 {
    animation-delay: 0.2s;
}
.div-text h2 {
    animation-delay: 0.4s;
}
.div-text p {
    animation-delay: 0.6s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
