<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pagina Inicial</title>
        <link rel="stylesheet" href="/assets/css/reset.css" />
        <link rel="stylesheet" href="/assets/css/index.css" />
    </head>
    <body>
        <img src="/assets/img/logo.png" class="positioned-image" />
        <header>
            <div class="header-menu">
                <a>Home</a>
                <a>Nosso Produtos</a>
                <a>Faça um orçamento</a>
                <a>Funcionários</a>
            </div>
        </header>
        <main>
            <div class="div-text" class="loading-text">
                <h1>BatBox</h1>
                <h2>Conheça o BatBox</h2>
                <p>
                    Prático, ecológico e cheio de estilo! Nosso porta-cinzas
                    descartável é perfeito para quem curte praticidade sem abrir
                    mão da consciência ambiental. E o melhor? Cada edição é
                    única e colecionável!
                </p>
            </div>
            <img class="main-img" src="/assets/img/BatBox-sem-logo-vet.png" />
        </main>
        <footer></footer>
    </body>
</html>
