<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - LBox</title>
        <link rel="stylesheet" href="/assets/css/reset.css" />
        <link rel="stylesheet" href="/assets/css/login.css" />
    </head>
    <body>
        <img src="/assets/img/logo.png" class="positioned-image" alt="Logo" />

        <header>
            <div class="header-menu">
                <a href="/pages/index.html">Home</a>
                <a href="#">Nosso Produtos</a>
                <a href="#">Faça um orçamento</a>
                <a href="/pages/login.html">Funcionários</a>
            </div>
        </header>

        <main>
            <div class="login-card">
                <img
                    class="user-icon"
                    src="/assets/img/user_icon.png"
                    alt="Ícone do usuário"
                />

                <form onsubmit="login(event)">
                    <label for="username">Login</label>
                    <input type="text" id="username" name="username" required />

                    <label for="password">Senha</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        required
                    />

                    <button type="submit">Efetuar login</button>
                    <div class="status" id="status"></div>
                </form>
            </div>
        </main>

        <script src="/assets/js/login.js"></script>
    </body>
</html>
