<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - LBox</title>
        <link rel="stylesheet" href="/assets/css/reset.css" />
        <link rel="stylesheet" href="/assets/css/add_product.css" />
    </head>
    <body>
        <img src="/assets/img/logo.png" class="positioned-image" alt="Logo" />

        <header>
            <div class="header-menu">
                <a href="index.html">Home</a>
                <a href="add_product.html">Nosso Produtos</a>
                <a href="#">Faça um orçamento</a>
                <a href="login.html">Funcionários</a>
            </div>
        </header>
        <main id="products">
            <div class="login-card">
                <div class="mother-div">
                    <label for="username">Título do produto</label>
                    <input
                        type="text"
                        id="input-title"
                        name="username"
                        required
                    />

                    <label for="text">subtítulo</label>
                    <input type="text" id="input-subtitle" required />

                    <label for="text">Url da imagem</label>
                    <input type="text" id="input-img-url" required />

                    <div class="div-less-text">
                        <div>
                            <label>Cor 1</label>
                            <input type="text" id="color-1" class="less-text" />
                        </div>
                        <div>
                            <label>Cor 2</label>
                            <input type="text" id="color-2" class="less-text" />
                        </div>
                    </div>
                    <label for="text">Texto do produto</label>
                    <textarea class="more-text" id="textarea-text"></textarea>
                    <button type="button" class="submit-button">
                        Adicionar produto
                    </button>

                    <div class="status"></div>
                </div>
            </div>
        </main>
    </body>
    <script src="assets/js/add_product.js"></script>
</html>
