<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pagina Inicial</title>
        <link rel="stylesheet" href="assets/css/reset.css" />
        <link rel="stylesheet" href="assets/css/index.css" />
    </head>
    <body>
        <div class="transicao" id="transicao"></div>

        <img src="assets/img/logo.png" class="positioned-image" />

        <header>
            <div class="header-menu">
                <a href="index.html">Home</a>
                <a href="products.html">Nosso Produtos</a>
                <a href="#">Faça um orçamento</a>
                <a href="login.html">Funcionários</a>
            </div>
        </header>

        <main class="conteudo">
            <div class="div-text">
                <h1 id="title">BatBox</h1>
                <h2 id="subtitle">Conheça o BatBox</h2>
                <p id="text">
                    Prático, ecológico e cheio de estilo! Nosso porta-cinzas
                    descartável é perfeito para quem curte praticidade sem abrir
                    mão da consciência ambiental. E o melhor? Cada edição é
                    única e colecionável!
                </p>
            </div>

            <div class="image-wrapper">
                <img
                    id="image-src"
                    src="assets/img/BatBox-sem-logo-vet.png"
                    class="main-img"
                    data-tilt
                />
            </div>
        </main>

        <footer></footer>

        <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>
        <script>
            VanillaTilt.init(document.querySelectorAll('[data-tilt]'), {
                max: 5,
                speed: 100,
                glare: true,
                'max-glare': 0.3,
            });
        </script>
        <script src="assets/js/index.js"></script>
    </body>
</html>
